[2018-03-06 02:30] kblincoe opened #1 "Incorrect dimensions"
On the main screen of VisualGit the dimensions of the screen are incorrect which causes an unnecessary set of vertical and horizontal scrollbars to appear. This error may be dependent on the size of the screen of the user. However there is no need for these scrollbars no matter what the screen size.

[2018-03-06 02:31] kblincoe opened #2 "Remove @ on the login screen"
On the login screen, there are @ symbols in front of the username and password. These symbols are usually associated with emails and should be removed to avoid confusion.

[2018-03-06 02:32] kblincoe opened #3 "Move colour settings to menu bar"
Colour settings can only be changed from the top left corner of the login screen. This setting would be better placed in the menu bar for easy access anywhere in the app.

[2018-03-06 02:33] kblincoe opened #4 "Add auto-scrolling to git command console"
The console for the git commands at the bottom of the main screen doesn’t automatically scroll to the bottom each time a new command is made. This means after a certain amount of commands the most recent command is off the screen and has to be scrolled to. It would be better if the console auto-scrolled to the most recent command.

[2018-03-06 02:34] kblincoe opened #5 "Change info box text to wrap at end of line"
After failing to open a repository because the entered file location is incorrect, the entered name can extend out of the info box making the text almost unreadable. The text should wrap around to the next line not overflow.

[2018-03-06 02:34] kblincoe opened #6 "Change naming of repos cloned from GitHub"
When you clone a repository from GitHub, the local folder which is created is named after the author’s name rather than the project’s name. This is especially a problem if you want to clone two repositories from the same author, as this will cause an error.

[2018-03-06 02:35] kblincoe opened #7 "Sign out button should take you back to home screen"
When you try to use the sign out button on the main screen, it brings up a sign in input box in the top right corner rather than taking you back to the login screen as you would expect. This should bring up warnings as well if there are unsaved commits.

[2018-03-06 02:36] kblincoe opened #8 "Display github account name"
On the main screen, there is no indication as to which account the program is currently logged in to. This needs to be added somewhere obvious so it is clear to the user.

[2018-03-06 02:36] kblincoe opened #9 "Redesign push and pull buttons"
The cloud symbols do not inherently make the user think of push and pull. A more intuitive redesign would be more useful for new users.

[2018-03-06 02:37] kblincoe opened #10 "Ensure commit button is accessible after many file changes"
If there are many file changes, the list of files with changes overflows and you are no longer able to access the commit button or the commit commenting. It is crucial to the function of the application and needs to be available at all times.

[2018-03-06 02:38] kblincoe opened #11 "Correct mouse pointer over branch button"
When you hover over branch button it gives a writing mouse capital I pointer. However, this is not a text box and should instead be a clicking hand symbol for the mouse pointer.

[2018-03-06 02:48] kblincoe opened #12 "Create clickable script to run VisualGit"
The program currently has to be run from the command line. It would be more efficient to have a clickable script that the program can start from.

[2018-03-06 02:49] kblincoe opened #13 "Clear text boxes after signing in"
When you sign in on the main screen in the top right corner and then try to sign out it retains the login credentials that you first entered. These details should be cleared after successfully signing in to another account.

[2018-03-06 02:50] kblincoe opened #14 "Change mouse pointer over symbols"
The add repository button (folder with plus), and push/pull buttons (up/down clouds) are ineffective as buttons as they don’t give an indication that they are clickable from either the mouse hover icon or a colour change in the symbol when the mouse pointer is over them. To indicate that they are buttons the mouse pointer should change to the hand symbol.

[2018-03-06 02:50] kblincoe opened #15 "Stop panel appearing when selecting checkbox"
Currently, when you click on anywhere on a file that has been changed it brings up the panel with the changes to file. However, this is unnecessary when the user just wants to select the checkboxes. So when they are selecting the checkboxes in the bottom left corner, this shouldn't bring up the panel with file changes.

[2018-03-06 02:51] kblincoe opened #16 "Add functions to toolbar"
The toolbar is underutilised with only minor functions accessible from within the tabs. All major functions such as push, pull, clone repo etc should be added to the toolbar to give users multiple ways of accessing the functions.

[2018-03-06 02:52] kblincoe opened #17 "Investigate white nodes"
After making a commit, white nodes appear on the graph next to the node containing the commit. These white nodes don’t serve any discernible purpose and should be either removed or better labelled.

![36505035-323efd1a-17b7-11e8-9d5a-fd39d2e6d864](https://user-images.githubusercontent.com/2052027/37011742-57729d50-2156-11e8-87e2-154c423d63f2.png)

[2018-03-06 02:52] kblincoe opened #18 "Add display of system status while loading graph"
The application appears to freeze while loading a project with a large commit history, assumably because of the time it takes the vis.js to generate a large graph. It would be useful to have a way of keeping the user informed about the system status while the graph is being generated.

[2018-03-06 03:09] kblincoe opened #19 "Add more colour themes"
The current colour themes (black and white) are not appealing to all users. It would be useful to have more themes for the user to choose from.

[2018-03-06 03:10] kblincoe opened #20 "Add file explorer to opening and saving"
When opening a local repository, the open button should open a file explorer, where the folder can be selected. At the moment only directories within VisualGit can be chosen. This file explorer should also be added to choosing where to save a cloned repository.

[2018-03-06 03:48] kblincoe opened #21 "Remove black dots"
There are unnecessary black dots next to the sign out button, push and pull buttons and each possible repo you can clone from. They are more obvious when the white theme is used. These should be removed.

![image](https://user-images.githubusercontent.com/2052027/37013352-38046612-215e-11e8-8046-912a253219ec.png)

![image](https://user-images.githubusercontent.com/2052027/37013355-3c9353d2-215e-11

[2018-03-06 03:54] kblincoe opened #22 "Pushing changes before committing crashes application"
Using the push changes function after you’ve made a change to the repo but before you have committed crashes the application. This does not seem to happen every time but will happen eventually

[2018-03-06 03:55] kblincoe opened #23 "Save login details"
There is no ability to save your login details, so every time you enter the app you have to re-enter your GitHub account and password. Where ever these details are saved they need to be saved securely so they can't be easily accessed by a third party.

[2018-03-06 03:55] kblincoe opened #24 "Profile interaction for GitHub users"
It would be useful to be able to get in touch with GitHub users via VisualGit. Each of the nodes on the graph represents the user who committed the changes. It would be useful to be able to click on those nodes and be able to send an email to those users with public emails and have a link to their GitHub page.

[2018-03-06 03:57] kblincoe opened #25 "Add support for Git Clean"
Git clean would be a useful feature for removing any unneeded files that have been added so that you don't have to go into the file explorer to remove them.

[2018-03-06 03:57] kblincoe opened #26 "Add further support for reverting commits"
Currently on the latest commit can be reverted using the right-click function. It would be useful to be able to revert commits from anywhere in the commit history.

[2018-03-06 03:58] kblincoe opened #27 "GitHub profile pictures on nodes"
Currently, only the first letter of GitHub users' names appears on the nodes. It would be more useful to have their GitHub profile pictures so they can be more easily identified.

[2018-03-06 03:59] kblincoe opened #28 "Improve security"
Investigate where are all the usernames and passwords being stored. Make sure that they are being securely hidden as to not be accessed by a third party.

[2018-03-06 03:59] kblincoe opened #29 "Adding warnings"
Currently, there are no warnings in the application if the user is about to lose their changes without committing/stashing/pushing. For every scenario where the user may have made changes without pushing them and they are attempting to quit or pull, they should be provided with a warning.

[2018-03-06 04:00] kblincoe opened #30 "Forgot password link"
Add a forgotten password option to the login and main screen, which links back to GitHub online forgotten password system.

[2018-03-06 04:01] kblincoe opened #31 "Display contents of commit history"
Although the graph shows your commit history, it only gives information about the order of commits and not what happened in the commits. It would be useful to have commit comments from each commit node and to be able to see which changes were made to which file.

[2018-03-06 04:01] kblincoe opened #32 "Add text editor within VisualGit"
Currently, to edit text files VisualGit opens up the user's default text editor. It would be more useful to be able to edit text files within Visual Git so that switching between applications is reduced while coding.

[2018-03-06 04:02] kblincoe opened #33 "Add staging functionality"
Add staging, so changes which the user wants to lock in can be saved before they are ready to commit them. The user should be able to differentiate between which file changes are staged and which have yet to be committed.

[2018-03-06 04:02] kblincoe opened #34 "Add unit tests"
There is currently no testing of the typescript functions that are used to run the application. Adding unit tests for each of the functions would help increase the stability of the project.

[2018-03-06 04:03] kblincoe opened #35 "Add commenting to past commits"
Currently, you are unable to see any comments on past commits within VisualGit. It would be useful to be able to view all the commit comments and then be able to add your own. This has crossover with #31 but this is specifically about the comments and the discussion about each commit.

[2018-03-06 04:04] kblincoe opened #36 "Add stashing and reapplying functionality"
Add support for stashing and reapplying changes, so that users can store their changes without committing and move on to another branch. The user should be able to view what changes are stashed on what branches.

[2018-03-06 04:05] kblincoe opened #37 "Add issues functionality"
It would be useful within VisualGit to be able to view the issues which are currently open on GitHub. The user should then be able to make comments, create new issues and close issues.

[2018-03-06 04:05] kblincoe opened #38 "Add rebasing functionality"
Add support for rebasing branches from within GitHub, so that users can rewrite the commit history at their discretion. This should include specifically reordering commits, squashing commits, splitting commits

[2018-03-06 04:06] kblincoe opened #39 "Add functionality for syncing changes between a fork and the original"
When you fork a repository the repo doesn't automatically keep up with changes made to the master branch in the original, it has to be synced from the upstream repository. It would be useful for VisualGit to have this functionality when you fork from a repo.

[2018-03-06 04:06] kblincoe opened #40 "Add functionality for GitHub projects"
It would be useful within VisualGit to be able to view the projects which are on the repository on GitHub. The user should then be able to view, create, move and delete cards and columns.

[2018-03-06 04:07] kblincoe opened #41 "Add functionality for pull requests"
It would be useful within VisualGit to be able to view changes, create and make comments on pull requests made on the repository. Ideally, the entire process should be able to be completed within VisualGit.

[2018-03-06 04:08] kblincoe opened #42 "Redesign commit process with drag and drop feature"
A redesign of the commit process involving dragging and dropping each individual file change to add them or remove them from each part of the process. This is as opposed to the current process of individually clicking on ones you want to keep. Each file change should be draggable and should have multiple ways of keeping or removing it from the actual commit.

[2018-03-06 04:14] kathrynjaggar commented on #21
I'd like to claim this issue for myself!

[2018-03-06 04:15] kathrynjaggar commented on #19
Claiming this issue for @DanyonW

[2018-03-06 04:16] kathrynjaggar commented on #27
Claiming this issue for @tagumi

[2018-03-06 04:38] sahilcc7 commented on #16
Claimed.

[2018-03-06 04:43] Mehdi-Shah commented on #23
Claimed

[2018-03-06 04:47] Mehdi-Shah commented on #9
Claimed for group 17

[2018-03-06 04:54] EmilyYVChan commented on #42
Claimed

[2018-03-06 07:08] cli727 commented on #7
Tentatively claim : )

[2018-03-06 08:07] EmilyYVChan commented on #30
Claimed

[2018-03-06 20:33] LeightonJonker commented on #29
Claimed for Leighton

[2018-03-06 20:36] LeightonJonker commented on #25
Claimed for William Chao

[2018-03-06 20:51] kaluver commented on #26
Claimed for Joseph

[2018-03-07 00:10] Scoobster commented on #20
Claimed! Andrew Lyall is working on this :)

[2018-03-07 01:27] cli727 commented on #7
Depends on issue #29. Once #29 is solved, code for generating warnings can be reused to notify user on sign-out.

[2018-03-07 05:20] LeightonJonker commented on #7
Issue connection / dependency noted, will design #29 to be able to interact safely with redirects such as #7 through use of a simple pop-up for warnings.

[2018-03-07 10:39] karthiksriramuoa commented on #2
Assigned to me.

[2018-03-07 22:40] shoebilldev opened #43 "Add functionality to collapse forks when cloning repository"
Forks can show up with identical repository names making it hard to differentiate between them and the original repo.

Example:
![image](https://user-images.githubusercontent.com/22441521/37122314-efd5b180-22c4-11e8-9e4c-15c218dfe494.png)

It would be ideal to be able to collapse these underneath the original repository in the repository list for readability.

Tagging @kblincoe because it doesn't

[2018-03-07 22:47] shoebilldev opened #44 "Redesign repository clone list to show fork owner's account name"
Forks can show up with identical repository names making it hard to differentiate between them and the original repo. Adding the fork owner's account name will help to distinguish between repository forks.

![image](https://user-images.githubusercontent.com/22441521/37122589-f85bc6a4-22c5-11e8-8cac-831b090c9a8c.png)

eg.  These could all have the owners next to them (possibly in a lighter font) si

[2018-03-07 23:22] kblincoe commented on #43
OK approved

[2018-03-07 23:22] kblincoe commented on #44
OK approved

[2018-03-09 00:31] cli727 commented on #13
@kblincoe I am assigned to #7. If I understand the descriptions correctly, fixing issue 7 will also fix this issue because the sign out button now redirects to the log in page, with empty user name and passwords when the log in page is displayed. What happens in this case? Does it mean I have fixed two issues with the same code? Or they are actually just duplicate issues / conflict issues and will

[2018-03-09 02:55] cielluo commented on #3
Claimed!

[2018-03-09 02:56] Long315 commented on #8
Claimed

[2018-03-09 02:58] karthiksriramuoa commented on #17
Claiming for myself

[2018-03-09 03:00] Madhusudansarma commented on #24
claiming for myself

[2018-03-09 03:30] EmilyYVChan opened #45 "Redesign late sign-in user interface"
Bug report:
Having two sign-in buttons visible (especially in close proximity) can be confusing for the user to know which to click.
Also, the Email text field is too short for typical emails.

To reproduce this scenario:
1. At the login screen shown upon startup, click on the "Continue without sign in" button to proceed to the main screen.
2. Click on the "Sign in" button at the top right corner

[2018-03-09 04:45] daedae-k opened #46 "Fixing error message"
A typographical error occurs if the user has not signed in/repository has not been opened, and attempts to commit a change.
The information text displays "Oops, error occours! If u haven't login, please login and try again."

1. Prior to pressing "commit" and user is already logged in:
<img width="961" alt="errormessagetest1" src="https://user-images.githubusercontent.com/37121714/37190833-0191b6f

[2018-03-09 05:04] EmilyYVChan opened #47 "Add functionality to open an existing repository using a file picker"
Feature request:

Feature description:
Currently the user has to manually enter the location of an existing repository to open it.
![screen shot 2018-03-09 at 17 44 13](https://user-images.githubusercontent.com/22021797/37190991-d0685cf0-23c1-11e8-9d9f-db346977677c.png)

The usability of this functionality could by improved by allowing the user to specify the location using a file picker.
![image]

[2018-03-09 05:29] EmilyYVChan commented on #47
Apologies. This is a duplicate issue of #20 .

[2018-03-09 05:29] #47 closed, assigned to nobody

[2018-03-09 06:02] EmilyYVChan opened #48 "Add git init/git project setup functionality"
Feature request:

Feature description:
Currently, if the user wants to create a new local repository, the user needs to run the 'git init' command in the command line interface. The user should be able to do so via the VisualGit client rather than the command line interface.
To take this feature even further, VisualGit could also help the user perform other common setup procedures such as the .git

[2018-03-09 08:40] LeightonJonker opened #49 "Fix Pulling With Up-To-Date Repository Message"
Currently if a Git Pull is done with an up-to-date repository, a modal prompt will appear alerting the user that there is a "Conflict" and that all conflicts must be solved before another commit. What it should state is that the repository is currently up to date and that a pull is not needed.

[2018-03-09 10:21] cli727 opened #50 "Commits done outside of VisualGit are not synchronised"
Currently, if a changed of code was made and picked up by VisualGit, it would display the change as:
![differece](https://user-images.githubusercontent.com/22021804/37202147-9198e166-23ee-11e8-91b0-1fb73e451e75.JPG)

If I was to commit this change outside of VisualGit, e.g. via the command line, VisualGit does not pick up on this. If I was to select the changed file again, it would display the fil

[2018-03-09 10:34] cli727 opened #51 "Commits are allowed when there is nothing to commit"
Currently, users are able to commit when there are no changes made at all. Pushing those commits result in:

![no-change](https://user-images.githubusercontent.com/22021804/37203295-17a442fc-23f2-11e8-81d4-16802230c2a1.JPG)

Such commits really should not be permitted as they contribute no value to the development. Therefore when there are no changes in the files, users should not be allowed to co

[2018-03-09 12:16] cli727 commented on #32
Claim

[2018-03-09 20:47] kblincoe commented on #13
If the fix for the other issue, also fixes this one, then this one should be closed as obsolete - it would not count as 2 issues.

[2018-03-10 06:28] softeng-701 commented on #46
Approved @kaluver

[2018-03-10 06:31] softeng-701 commented on #48
Approved @EmilyYVChan

[2018-03-10 06:34] softeng-701 commented on #45
Approved @EmilyYVChan

[2018-03-10 06:48] softeng-701 commented on #50
Approved (size of this issue still to be reviewed) @cli727

[2018-03-10 06:49] softeng-701 commented on #51
Approved @cli727

[2018-03-10 08:18] softeng-701 commented on #49
Approved @LeightonJonker

[2018-03-11 03:52] EmilyYVChan commented on #3
@ls-morning You can only be claiming and actively working on 1 issue at a time, but you have claimed 4 all in one go. Would you kindly delete you 'claim' comments for 3 issues? I would like to work on one of them.

[2018-03-11 03:52] EmilyYVChan commented on #4
@ls-morning You can only be claiming and actively working on 1 issue at a time, but you have claimed 4 all in one go. Would you kindly delete you 'claim' comments for 3 issues? I would like to work on one of them.

[2018-03-11 03:52] EmilyYVChan commented on #6
@ls-morning You can only be claiming and actively working on 1 issue at a time, but you have claimed 4 all in one go. Would you kindly delete you 'claim' comments for 3 issues? I would like to work on one of them.

[2018-03-11 03:52] EmilyYVChan commented on #15
@ls-morning You can only be claiming and actively working on 1 issue at a time, but you have claimed 4 all in one go. Would you kindly delete you 'claim' comments for 3 issues? I would like to work on one of them.

[2018-03-11 09:29] daedae-k opened #54 "Fixing branch accessibility"
When on the 'Clone from Internet'/'Open Local Repository' ,
<img width="439" alt="pic1" src="https://user-images.githubusercontent.com/37121714/37251731-83ff2c12-257a-11e8-9271-c2b24affd65e.png">

Currently, the 'branch' feature can be highlighted when the cursor is hovering over the button, inferring it can be clicked.
Cursor hovering over 'branch' button:
<img width="332" alt="pic3" src="https:/

[2018-03-11 21:39] EmilyYVChan commented on #6
Claimed

[2018-03-11 22:12] shoebilldev opened #55 "Reformat Local Repository Failed Information Window"
If an incorrect path is given to Visual Git when adding a local repository an information box appears (below)

![image](https://user-images.githubusercontent.com/22441521/37259033-c1c61676-25e5-11e8-85af-8f1c6e435719.png)

The issue is that if a long path is entered, it does not wrap around and the dark text becomes almost unreadable over the black background.

The info box needs to be changed to

[2018-03-12 00:27] chaomix opened #56 "Add tagging support"
Feature request:

Add support for tagging commits in the past and/or the current commit that has yet to be pushed. This will allow users to mark important points in their repository for example "v1.0" without needing to search for a certain commit message/checksum. Users should also be able to view the tags on the main page.

@softeng-701 for review

[2018-03-12 22:20] softeng-701 commented on #54
@kaluver  Approved

[2018-03-12 22:29] softeng-701 commented on #55
@tagumi This seems the same as issue #5

[2018-03-12 22:52] ponchotang commented on #11
Claimed

[2018-03-12 22:53] shiny-eel commented on #5
Claimed

[2018-03-12 22:54] softeng-701 commented on #56
@chaomix Approved. Are you sure this is a large issue, how long do you expect it to take?

[2018-03-12 23:14] chaomix commented on #56
@softeng-701 Probably medium. Estimating ~2-4+ hours

[2018-03-12 23:18] shoebilldev commented on #55
@softeng-701 apologies shall I remove?

[2018-03-12 23:18] #55 closed, assigned to nobody

[2018-03-12 23:57] shoebilldev commented on #12
Claimed and pull request submitted

[2018-03-13 00:45] EmilyYVChan commented on #15
Claimed

[2018-03-13 02:36] LeightonJonker opened #60 "Renaming Commit Files Not Getting Rid of Old Named Files"
When committing file changes, if a file name is changed, a new file with the new name is shown on the commit stack frame, but the old file name is still left.
The same applies for the changing of a type of file; the old file type is still left in the commit stack.
The file's old name/type should be removed when the file's name is changed and appears on the stack.

@softeng-701 For approval

[2018-03-13 11:58] Long315 commented on #44
Claimed

[2018-03-13 21:31] sguy016 commented on #1
Claimed

[2018-03-13 21:34] chaomix opened #67 "Clicking "Select all" then unticking one file does not untick "Select all""
Bug:

When clicking "Select all" then deselecting a file, it does not deselect "select all" as expected. At this point, clicking "Select all" will deselect all files when it should actually "select all" since not all files are selected.

![bug](https://user-images.githubusercontent.com/20606208/37370880-73f24bb6-2772-11e8-8035-ed54cd94c730.png)

@softeng-701 for approval

[2018-03-14 00:24] Long315 commented on #43
So what is the difference between this issue and issue #44?  I think they are the same issue. @tagumi

[2018-03-14 23:07] softeng-701 commented on #60
@LeightonJonker Approved

[2018-03-14 23:56] softeng-701 commented on #67
Approve @chaomix

[2018-03-15 00:43] ponchotang commented on #14
Claimed

[2018-03-15 00:55] shiny-eel commented on #22
EDIT - Unclaimed.

[2018-03-15 01:53] shiny-eel opened #69 "'Open Local Repository' with empty file path freezes GUI"
### Steps To Reproduce

1. Open and log in to VisualGit
2. Select the _Add Folder_ button in the top left
3. **Do not** enter in a file-path into the 'local repository' option
4. Select the _Open_ button

This should freeze the app. Sometimes the screen greys out, and sometimes it displays a modal (with an incorrect message). Why it behaves like this is uncertain.

_EDIT - In light of other issues

[2018-03-15 01:53] shiny-eel commented on #69
@softeng-701

[2018-03-15 02:23] softeng-701 commented on #69
@shiny-eel Approved, do you have a size estimate?

[2018-03-15 04:45] cli727 commented on #50
@softeng-701 Thanks, I was also hesitating between assigning this as large or as medium. Please feel free to edit the issue size as you see appropriate : )

[2018-03-15 05:26] EmilyYVChan commented on #15
Unclaimed.

[2018-03-15 07:15] sguy016 commented on #10
Claimed

[2018-03-15 08:02] #30 closed, assigned to nobody

[2018-03-15 22:21] EmilyYVChan opened #71 "Cloning the same private repo under different names freezes the GUI"
Bug report:
When you try to clone the same private repo a second time with a different file location, the GUI blacks out and freezes. Also, the directory (for the different file location) is created, but it is empty.

To reproduce this bug:
1. Clone a private repo to your local machine.
2. Clone the same private repo again, but under a different file location in your local machine.
(before doing s

[2018-03-16 00:13] Scoobster opened #72 "Home page should direct user to Open/Clone Repo page"
##Issue
Once a user signs in or clicks "Continue without sign in", the application should navigate them to the Open/Clone Repository page.

Currently it defaults to the Main Page with nothing on it as no repository has been opened/cloned. This isn't the most user-friendly approach as it is then up to the user to realise they must open the Open/Clone page themselves to open a repository.

I am esti

[2018-03-16 00:33] Scoobster commented on #51
Claimed Andrew Lyall

[2018-03-16 02:04] shiny-eel commented on #69
I think Medium due to investigation being needed to find the problem source. @softeng-701

[2018-03-16 02:14] Scoobster commented on #69
Not to be the bearer of bad news but Issue #20 will fix this

Although on second thought, it may still freeze if the visual git repo is selected in the file browser, so maybe not

[2018-03-16 02:59] sahilcc7 opened #75 "Password displayed in plaintext in commit tooltip"
When hovering over a commit made through VisualGit, the author field displays the password used to login to the application.

Estimate: Small/Medium... Depending on issue #28  to find out how passwords are being stored...

![image](https://user-images.githubusercontent.com/7804304/37501507-8c338d26-2933-11e8-8b54-a2807a5a63df.png)

[2018-03-16 02:59] sahilcc7 commented on #75
@softeng-701

[2018-03-16 03:24] Mehdi-Shah opened #76 "Compiling the existing master code causes the revision history graph to disappear"
The repository window should look like this when a change is made:
![image](https://user-images.githubusercontent.com/36907911/37502063-f61919de-2935-11e8-8c5a-eaa7d3615a40.png)

After compiling the code the graph disappears and the window looks like this:
![image](https://user-images.githubusercontent.com/36907911/37502187-700b1b3e-2936-11e8-8e56-d4bb9d186f57.png)

Size Estimate: Medium

[2018-03-16 03:24] Mehdi-Shah commented on #76
@softeng-701

[2018-03-18 00:16] sahilcc7 commented on #28
Claimed

[2018-03-18 06:43] daedae-k commented on #54
Claimed for Joseph

[2018-03-18 06:51] cielluo opened #80 "Redesign menu bar"
Currently VisualGit uses the default menu bar of electron. However, it is sometimes confusing to users.
E.g.
![menu](https://user-images.githubusercontent.com/11484369/37563424-2aaa72f0-2ae5-11e8-960d-09bf5fe695cb.jpg)
'Cut', 'Copy', 'Paste', 'Paste and Match Style', etc are unnecessary for VisualGit.
Hence, the menu bar should be redesigned to be more useful and user friendly.

@softeng-701 for r

[2018-03-18 07:40] cielluo opened #81 "'Clone from Internet' with empty URL location error"
When cloning from Internet, if we do this

![before](https://user-images.githubusercontent.com/11484369/37563659-bd451d68-2aea-11e8-8744-43a7b6a74b3d.jpg)

Then this message would be shown

![clone-error](https://user-images.githubusercontent.com/11484369/37563672-01da7e64-2aeb-11e8-8c53-726a2dace440.jpg)

This action will freeze the GUI, and the project VisualGit itself will be cloned.
It will be

[2018-03-18 21:07] shoebilldev opened #83 "Fix problems when installing/running on Ubuntu 16.4"
Simply following the readme was not enough to run VisualGit when installing on Ubuntu 16.4.

After an apt-get of npm, I had to run
"sudo ln -s /usr/bin/nodejs /usr/bin/node"
because the apt-get install of the npm package installed to a differently named directory than that of what VisualGit was expecting (packageinstalled as nodejs instead of node).

This could be fixed by also searching for the n

[2018-03-18 22:34] softeng-701 commented on #71
@EmilyYVChan Approved

[2018-03-18 22:41] softeng-701 commented on #72
@Scoobster Approved

[2018-03-18 22:42] daedae-k commented on #72
claimed for Joseph

[2018-03-18 22:52] softeng-701 commented on #75
@sahilcc7 Approved, I'll put the small tag for now, if it takes more than a couple of hours we can change the tag, thanks

[2018-03-18 22:54] softeng-701 commented on #76
@Mehdi-Shah So this was broken in a previous PR?

[2018-03-18 22:58] Mehdi-Shah commented on #76
@softeng-701 it was like this with the original master code too. The pre-compiled JavaScript worked fine but after compiling and running the program this error showed up.

[2018-03-18 23:01] chaomix commented on #76
@Mehdi-Shah try commenting out or removing 'exports.__esModule = true' in the git.js file? That solved it for me.

[2018-03-18 23:33] Mehdi-Shah commented on #76
Didn't seem to work for me, after compiling the project the graph remains broken.

[2018-03-18 23:34] softeng-701 commented on #80
@ls-morning Do you have a size estimate for this issue?

[2018-03-18 23:36] softeng-701 commented on #81
@ls-morning Do you have a size estimate for this? thanks

[2018-03-18 23:46] softeng-701 commented on #83
@tagumi Approved. The size label can be updated to reflect the work put into this, updating the readme should be a small task. Thanks!

[2018-03-18 23:53] softeng-701 commented on #76
@Mehdi-Shah Approved. Size label is subject to the time taken and may be reassessed. Thanks!

[2018-03-18 23:53] cielluo commented on #80
I think small since Electron provides many build-in menu items that we can choose to redesign the menu bar.
Special requirements like Issue #3 are related to this, but they can be regarded as independent issues.
@softeng-701

[2018-03-18 23:54] shoebilldev commented on #83
This may have more to it than originally thought, looks like other packages installed through npm, other than electron-prebuilt, aren't set up correctly. The way npm installs packages will need to be investigated to find the underlying issue when run on Ubuntu 16.4.

[2018-03-18 23:56] softeng-701 commented on #80
@ls-morning Approved

[2018-03-18 23:56] cielluo commented on #81
I think medium, because investigation is necessary to find out the reason for this problem.
@softeng-701

[2018-03-18 23:57] softeng-701 commented on #81
@ls-morning Approved

[2018-03-19 00:29] #6 closed, assigned to nobody

[2018-03-19 22:16] #5 closed, assigned to shiny-eel

[2018-03-19 22:16] ponchotang commented on #14
Closing issue as it is fixed

[2018-03-19 22:16] #14 closed, assigned to nobody

[2018-03-19 22:16] ponchotang commented on #11
Closing issue as it is fixed

[2018-03-19 22:16] #11 closed, assigned to nobody

[2018-03-19 22:38] ponchotang commented on #81
Claimed.

[2018-03-19 23:45] shiny-eel opened #91 "Remove deprecated Sass from project"
### Problem
In the **stylesheets** directory, there are two Sass (.scss) files. These are outdated. When compiled locally, they overwrite more recent changes made to the **styles.css** file.

It has been determined that changes should be made directly to the styles.css file, and that the Sass files are no longer useful.

The README.md gives outdated information, saying that the Sass files are stil

[2018-03-19 23:46] shiny-eel commented on #91
@softeng-701

[2018-03-19 23:56] softeng-701 commented on #91
@shiny-eel The Sass files no longer have any function? You don't foresee simply removing them causing any issues?

[2018-03-20 00:06] shiny-eel commented on #91
@softeng-701 You're right - possibly the best solution is simply putting them aside in an unused directory within the repo.

We have tested removing them and running VisualGit, and have found no differences in functionality or appearance so far. In the last lecture on Friday, @kblincoe also seemed to acknowledge that the Sass files were no longer as up to date as the css file (when a student came

[2018-03-20 00:18] ponchotang opened #92 "Pulling directly after cloning a repository occasionally crashes the app"
### Steps to reproduce:

1. Clone a repository by clicking the 'repository' button at the top
2. Pull immediately after the successful clone message has been displayed

Doing this will cause the screen to go blank and VisualGit must be restarted in order for it to work again. This only occurs when cloning some repositories.

### Possible tasks:

- Investigate the cause for the crashing
- Investiga

[2018-03-20 00:19] ponchotang commented on #92
@softeng-701 requesting approval 🥇

[2018-03-20 00:19] softeng-701 commented on #91
@shiny-eel This all sounds reasonable. The assignee just needs to be careful that new issues aren't introduced by changing this. Thanks!

[2018-03-20 00:20] softeng-701 commented on #92
@ponchotang Approved

[2018-03-20 02:30] kathrynjaggar commented on #12
This issue is closed

[2018-03-20 02:30] #12 closed, assigned to nobody

[2018-03-20 07:42] #25 closed, assigned to chaomix

[2018-03-20 20:17] Long315 commented on #67
Claimed

[2018-03-20 21:38] Scoobster commented on #20
This issue was closed by Pull Request #74

[2018-03-20 21:38] #20 closed, assigned to Scoobster

[2018-03-21 21:55] sguy016 commented on #46
Claimed

[2018-03-21 22:48] sguy016 commented on #71
Claimed

[2018-03-22 00:06] Long315 commented on #49
Claimed

[2018-03-22 05:37] cielluo commented on #80
Claimed - I'll do this together with #3 since they are closely related

[2018-03-22 07:14] kathrynjaggar opened #105 "Update console logging"
## Issue description:

Currently, there are console.log() occurrences throughout the project that are outdated or have potential to be of more use to a reader. Examples include;

<img width="360" alt="screen shot 2018-03-22 at 4 47 49 pm" src="https://user-images.githubusercontent.com/37052358/37750355-68b76300-2df1-11e8-89d7-ecff4ca0c316.png">

## Recommended solution:
Many of these statements ca

[2018-03-22 10:59] softeng-701 commented on #105
@kathrynjaggar Approved

[2018-03-22 23:56] Long315 opened #107 "Fix Pulling With Conflict Message"
Now when clicking a pull and if there is a conflict, an alerting text will show "Conflicts exists! Please check files list on right side and solve conflicts before you commit again!" , it is better to mention which files result in these conflicts, so that it may help the coder to find these conflict files faster.

[2018-03-22 23:59] Long315 commented on #107
@softeng-701 requesting approval

[2018-03-23 00:44] cielluo opened #108 "Show line number when viewing code changes"
Feature request:
Currently, when we view code changes in VisualGit, it looks like below
![linenumber](https://user-images.githubusercontent.com/11484369/37805386-cd1de758-2e9e-11e8-96fe-73aa5b49411a.jpg)

Users cannot see the line number and it would be hard to find where they actually edit in a large file when they want to make further change.
Hence, demonstrating line number in the GUI would mak

[2018-03-23 02:59] Long315 commented on #105
Sorry, I don't think just adding the file name and line number can solve the problem because both file name and line number can change especially for line number when someone adds or deletes some code in the file, the line number surely would be out of date. I think we should create a global log function which can decorate the console.log function and replace the console.log function with this new

[2018-03-24 04:41] Madhusudansarma opened #113 "Replacement of Url Text Entry with File Browser Selection"
![repositoryurlhide](https://user-images.githubusercontent.com/32195305/37860365-374a5488-2f88-11e8-868d-e00140c4e9bf.jpg)

**Current Scenario**
 In the current scenario, to clone a new repository and store the package in the desired directory, we need to enter the directory's path in the given textbox.

**Proposed change**
 Instead, we can use a file browser to select the desired directory.

[2018-03-24 06:40] karthiksriramuoa opened #114 "No Error Popup on creating a new branch when there is no repository selected."
![createnewbranch](https://user-images.githubusercontent.com/31844757/37861095-51014d1e-2f97-11e8-9c95-f89347da81e3.jpg)

Steps to Reproduce

- Log In with your Github ID or Continue without sign in.
- Select the branch icon and enter a branch name you desire and click Ok.

Behavior

**Expected Behavior** - Please select the repository you want to create a branch of/ Disable the Branch Icon
**_Act

[2018-03-24 07:25] Madhusudansarma opened #115 "Bug- Already cloned repositories using VisualGit are not accessible"
Steps to Reproduce
Login into VisualGit
click on add Repository and clone any Repository
Go to add repository page and enter the path of existing repository and click open

**Expected behavior**
Open the repository for the given path

**Actual behavior**
![image](https://user-images.githubusercontent.com/32195305/37861476-839c69c2-2f9f-11e8-89b6-725e03e2b3ec.png)

Steps to resolve
investigate why

[2018-03-24 08:23] Madhusudansarma opened #116 "Bug- Cloning random repository from repository list when clone button is clicked"
Steps to reproduce

-Login into visualGit and click on "Repository" icon.
-Select any repository from the list of repositories.
-Close the clone popup.
-Click on the "Repository" icon again.
- You can observe that the previously selected repository is highlighted again.

Expected Behavior -
- The cache should be cleared on popup close and the clone button must be disabled by default.

Actual Behav

[2018-03-25 00:50] sguy016 commented on #71
@EmilyYVChan I can not  reproduce the problem. Do you still have this issue ?

[2018-03-25 02:38] Scoobster commented on #51
This issue was closed with Pull Request #98

[2018-03-25 02:38] #51 closed, assigned to Scoobster

[2018-03-25 03:05] Long315 commented on #37
Claimed

[2018-03-25 04:09] EmilyYVChan commented on #71
@sguy016 Yup I still have this issue. I have just reproduced the problem in the same way as per the description above. For additional info, I am running VisualGit on a Windows 10 machine.

[2018-03-25 04:11] sguy016 opened #118 "Sign-in impossible when "Remember login" is ticked"
Nothing happen when you click on the "Sign In" button when "Remember Login" is ticked.

Way to reproduce :
1. Enter your username and password
2. Tick "Remember me"
3. Click on "Sign in" button

@softeng-701 requesting approuval

Update:

It needs to install crypto-js and add  "crypto-js": "^3.1.9-1" in package.json to work.

[2018-03-25 04:51] sguy016 opened #119 "Clone error when "File location to save to" is empty"
When you click on clone a repo from internet with the field "file location to save to" empy, a window open to select the folder where you want to save you repo. But you always get the error "_your repo path_ exists and is not an empty directory"

Way to reproduce:
1. Copy the URL of the repo.
![image](https://user-images.githubusercontent.com/37055803/37871778-41a28308-3053-11e8-95fa-fafeb9114179.

[2018-03-25 09:36] Mehdi-Shah opened #120 "Add loading bar when cloning a repo"
Currently when cloning a repository there is no way to tell how long it will be until it is cloned. A loading bar should be added so users will be able to see approximately how long it will take for the repo to be cloned.
Size estimate: Medium

[2018-03-25 09:37] Mehdi-Shah commented on #120
@softeng-701

[2018-03-25 12:12] softeng-701 commented on #107
@Long315 Approved

[2018-03-25 12:14] softeng-701 commented on #108
@ls-morning Approved

[2018-03-25 12:30] softeng-701 commented on #113
This is the same as #20

[2018-03-25 12:31] softeng-701 commented on #114
@karthiksriramuoa Approved

[2018-03-25 12:33] softeng-701 commented on #115
@Madhusudansarma Approved

[2018-03-25 12:37] softeng-701 commented on #116
@Madhusudansarma Approved

[2018-03-25 12:45] #113 closed, assigned to softeng-701

[2018-03-25 12:58] #80 closed, assigned to nobody

[2018-03-25 13:15] softeng-701 commented on #118
@sguy016 Approved

[2018-03-25 13:17] softeng-701 commented on #119
@sguy016 Approved

[2018-03-25 13:21] softeng-701 commented on #120
@Mehdi-Shah Approved

[2018-03-25 13:24] #10 closed, assigned to sguy016

[2018-03-25 21:33] EmilyYVChan commented on #71
@sguy016  as requested, I have tried to do the same thing with a different repo. Kindly see the screenshots below:

![image](https://user-images.githubusercontent.com/22021797/37880071-68c45150-30df-11e8-8696-e69175ccbb0f.png)
![image](https://user-images.githubusercontent.com/22021797/37880167-eedcd45a-30e0-11e8-9990-ff29a0d4c482.png)
![image](https://user-images.githubusercontent.com/22021797/37

[2018-03-25 21:35] EmilyYVChan commented on #71
@sguy016 I discovered that this bug only applies for private repositories. For public repositories it works fine. I have updated the original description to reflect this discovery. Thanks!

[2018-03-26 01:17] kathrynjaggar commented on #105
@Long315 That sounds like a good idea to me, what does @softeng-701 think?

[2018-03-26 01:22] shoebilldev commented on #27
@softeng-701 can this be upgraded to a large please. Usernames are not stored in commits, only the user's full name and email are, so username has to be retrieved by the user's name through the github api. Also requires storage and handling of local pictures retrieved by github.

[2018-03-26 01:56] shoebilldev commented on #27
The nodegit commit class does not store username, it only stores full name and email.

The only way we could think to overcome this is to search github's API for the full name get the username from the first result, as even searching by email does not work (as not everyone has emails public, and not everyone only has one account with each email).

I am going to create an issue to show that it is b

[2018-03-26 02:01] shoebilldev opened #122 "The nodegit commit class does not store username, it only stores full name and email."
The nodegit commit class does not store username. It would be good to have a way to find the username of the committer, instead of just the email or full name.

Below is the documentation for nodegit's author and committer api and the information they hold about committers.

http://www.nodegit.org/api/commit/#author
http://www.nodegit.org/api/commit/#committer

You could search github's API for th

[2018-03-26 02:02] shoebilldev commented on #27
This issue is blocked by #122

Unclaimed @softeng-701

[2018-03-26 07:40] DanyonW opened #124 "Add user help function directly to app"
Currently the only information for how to use the app is stored in the readme. This must be navigated to and opened manually. It would be much easier for new users if there was a help or information button in the app that explained the basic functions of visual git. This could be a simple link to the readme but would be much more effective if it was a structured explanation of each function as the

[2018-03-26 07:50] DanyonW commented on #124
tagging @softeng-701 for review

[2018-03-26 10:16] sahilcc7 commented on #118
@sguy016 need to npm install crypto-js.

Just needs "crypto-js": "^3.1.9-1" in package.json

[2018-03-26 10:20] #9 closed, assigned to nobody

[2018-03-26 10:21] #23 closed, assigned to nobody

[2018-03-26 10:33] sahilcc7 opened #125 "Add functionality for creating new account in VisualGit"
Currently the user cannot create a new account inside of VisualGit. A pop up window should allow the user to create an account within the application.

Estimated size: Small

Issue #135

@softeng-701

[2018-03-26 10:45] sahilcc7 opened #126 "Design and implement VisualGit logo"
The current icon for the program is the default Electron icon
![image](https://user-images.githubusercontent.com/7804304/37902062-ace87454-314f-11e8-9efd-523acb29a69b.png)

A custom VisualGit icon can be designed and implemented.

Estimated size: Small

@softeng-701

[2018-03-26 11:33] kzy618 commented on #26
CLAIMED

[2018-03-26 14:47] SN4KE-EYES opened #127 "Cloning a repository using SSH error"
When you click to clone from the internet using SSH, an error message comes up saying "Clone Failed - Error: Failed to start SSH session: Unable to exchange encryption keys".

To reproduce -

1. Paste the URL of the repo you want to clone and click "Clone"
![screenshot1](https://user-images.githubusercontent.com/22159089/37913323-1658b112-3171-11e8-8ff6-4ca81fd40da2.PNG)

2. The error message come

[2018-03-26 15:16] SN4KE-EYES opened #128 "Interface not updating when a file has been added then deleted before being committed"
When a new file has been added, but not yet committed, and then it is deleted, the interface still shows that the file has been added.

To reproduce -

1. Open the repo
![screenshot3](https://user-images.githubusercontent.com/22159089/37914807-954a6fee-3174-11e8-89d2-9f49a7d729d4.PNG)

Without any changes to the repo, the left column will appear like this
![screenshot4](https://user-images.githubu

[2018-03-26 20:44] nathangavin commented on #127
claimed
 - released

[2018-03-26 21:20] nathangavin commented on #39
claimed

[2018-03-26 21:53] sguy016 commented on #118
@sahilcc7 alright, so I can change to a very small issue and update the description of the issue.

[2018-03-26 22:19] softeng-701 commented on #105
@kathrynjaggar @Long315 Sounds reasonable

[2018-03-26 22:27] softeng-701 commented on #122
@tagumi Approved, does this additional issue mean you are happy with the size of #27 ?

[2018-03-26 22:59] softeng-701 commented on #124
@DanyonW Approved

[2018-03-26 22:59] shoebilldev commented on #122
@softeng-701 yes, with the approval of this issue I think the size of #27 as medium is appropriate

[2018-03-26 23:01] softeng-701 commented on #125
@sahilcc7 A new github account?

[2018-03-26 23:02] softeng-701 commented on #126
@sahilcc7 Approved

[2018-03-26 23:05] softeng-701 commented on #127
@RSGWA @nathangavin  Approved

[2018-03-26 23:05] sahilcc7 commented on #125
@softeng-701 Yes.

[2018-03-26 23:05] Mehdi-Shah commented on #126
Claimed

[2018-03-26 23:10] softeng-701 commented on #128
@RSGWA Approved

[2018-03-26 23:20] softeng-701 commented on #125
@sahilcc7 Approved. Will it be just a link to the github page?

[2018-03-26 23:26] sahilcc7 commented on #125
@softeng-701 Will be a pop up window that is the GitHub create account page. Similar to "Forgot password link"

![image](https://user-images.githubusercontent.com/7804304/37938393-18bdac5c-31ba-11e8-85c3-a1d7ee4050c8.png)

[2018-03-26 23:54] kathrynjaggar commented on #19
Closed with pull request #123

[2018-03-26 23:54] #19 closed, assigned to nobody

[2018-03-26 23:58] nathangavin opened #130 "Requested Login details not consistent between main login screen and sign in on App bar"
When you are presented with the main login screen, you are asked for your GitHub username and password.

![main login](https://user-images.githubusercontent.com/21207405/37939078-99adc7ea-31bd-11e8-9020-1ff402ca4267.PNG)

However, if you proceed without logging in, and then choose to sign in via the sign in button in the top right corner of the screen, you are asked for your email address and pass

[2018-03-27 00:26] ponchotang commented on #81
Closing as issue is fixed.

[2018-03-27 00:26] #81 closed, assigned to nobody

[2018-03-27 01:04] DanyonW commented on #124
We would like to claim this for our group

[2018-03-27 03:02] cielluo opened #131 "Remember user preference in color setting"
Feature Request:
When a user changes the color setting, the change is applied only before the application is closed. Next time when the user opens the application, the color setting will come back to default.
The system should remember user's color setting preferences and keep them every time the user come back to the application, so that the application can be more user-friendly.

[2018-03-27 03:09] cielluo commented on #131
Size estimate: small
Because it's similar to #23 but no security issue should be taken into account, the main work might be learning about how to store information locally in Electron
@softeng-701 for review

[2018-03-27 03:28] sahilcc7 commented on #76
Claimed

[2018-03-27 04:11] karthiksriramuoa opened #132 "Intimate the user for any merge conflicts associated with a single file or group of files"
**Feature Request**

Currently, there is no functionality which intimates the user about any merge conflicts made to a file.

Scenario -
A team member p1 has made a change to a file and committed to the repository. Simultaneously another team member, p2 is working on the same file and trying to commit.

Expected Behavior - The team member p2, however, must be able to edit the file but when trying

[2018-03-27 04:33] softeng-701 commented on #131
@ls-morning Approved

[2018-03-27 04:42] softeng-701 commented on #132
@karthiksriramuoa What is the current behavior of visualGit when pushing to a repo with conflicts?

[2018-03-27 05:23] karthiksriramuoa commented on #132
@softeng-701 All the changes get overwritten with the changes in the existing file.

[2018-03-27 05:27] softeng-701 commented on #132
@karthiksriramuoa Approved

[2018-03-27 05:54] karthiksriramuoa opened #133 "Propose a new diffChecker feature for the newly created Visual Git Editor"
**_Feature Request_**

A diff checker is a very useful feature when comparing the same file to resolve conflicts and manage the changes made by different team members. This is particularly useful when the file is significantly large and there are multiple modules that the team members are working on.

Scenario -

Suppose a complex security module is assigned to a team of 5 security engineers and e

[2018-03-27 08:35] cli727 commented on #13
@softeng-701 I believe that upon resolving issue #7, this issue can now be made obsolete.

[2018-03-27 09:10] SN4KE-EYES commented on #115
Claimed for myself

[2018-03-27 16:40] softeng-701 commented on #133
@karthiksriramuoa Do you intend to work on this? I'm not sure there is time to complete this...

[2018-03-27 20:09] karthiksriramuoa commented on #133
No, I don't have time to work on this. But just proposing a feature request which could be done.

[2018-03-27 21:06] nathangavin commented on #130
@softeng-701 for review

[2018-03-28 03:08] softeng-701 commented on #133
@karthiksriramuoa  Approved

[2018-03-28 03:12] softeng-701 commented on #130
@nathangavin Approved

[2018-03-28 03:43] #3 closed, assigned to cielluo

[2018-03-28 04:34] Scoobster commented on #130
Claimed!

[2018-03-28 05:50] karthiksriramuoa opened #140 "Unable to login using Visual Git if you download the application zip from Github"
![visualgiterror](https://user-images.githubusercontent.com/31844757/38010326-07c0a584-32b5-11e8-8c04-9653c616b0a3.jpg)
Scenario-
1. Download the VisualGit Code Repository from Github
2. cd Dir -> npm install
3. npm start.

Expected Behavior -
1. Run this application and login to the application.
2. After you enter your credentials and hit login, you must be able to login and enter the homepage.

[2018-03-28 05:59] softeng-701 commented on #140
@karthiksriramuoa Approved

[2018-03-28 06:49] Madhusudansarma opened #144 "Clone repository functionality is not working in case of cloning using URL"
Steps to Reproduce
Login to VisualGit and go to Add Repository page
For cloning a repository from the internet there is no clone option available.
Also, the clone button associated with file location option has the inappropriate name.
![image](https://user-images.githubusercontent.com/32195305/38013236-e937f6a6-32c0-11e8-8c61-8e460b01aab8.png)

Steps to resolve
 clone functionality can be added fo

[2018-03-28 07:27] cielluo commented on #140
In fact, after I merged the current upstream repository into my fork, I cannot login, either.
I tried to input a wrong password, and the application demonstrated an error message: "Error: Bad credentials". So I think the sign in function is working, but there are some issues with the login process.

Also, I have an copy of the original zip file of VisualGit as backup. I unzipped and installed it a

[2018-03-28 08:00] softeng-701 commented on #144
@Madhusudansarma Approved

[2018-03-28 08:08] softeng-701 commented on #140
@karthiksriramuoa @ls-morning Yes, I think this is a general problem with signing in no matter how you get the code. This issue should look at signing in in general

[2018-03-28 08:19] karthiksriramuoa commented on #140
@softeng-701 @ls-morning I reported the sign in issue and an issue with starting the application, to Kelly, but she replied me that it was a problem with the npm version. I am not sure if its because of the same.

[2018-03-28 08:23] softeng-701 commented on #140
@karthiksriramuoa Did you get it working by changing the version?

[2018-03-28 08:29] karthiksriramuoa commented on #140
@softeng-701 No. Changing the version didnt work. So i thought there was an issue with my machine. I hence worked on a cloned repository shared by my teammate.

[2018-03-28 09:01] karthiksriramuoa opened #145 "File contents editable without being authenticated when "Continue without Sign In""
**_Scenario_**

1. "Continue without Sign In"
2. Open a repository by clicking on the "+"  link from the homepage.
3. After opening the repository, you can make changes to any file and the same file appears on the file Change Panel.

Expected Behavior -
1.  Without Logging in to the application, you must not be able to edit a file and click on the commit. 2.Although on commit, the application resp

[2018-03-28 09:11] Madhusudansarma commented on #144
claiming for me

[2018-03-28 09:13] Madhusudansarma commented on #24
declaiming this issue

[2018-03-29 04:48] karthiksriramuoa commented on #17
Declaiming this issue.

[2018-03-29 05:37] karthiksriramuoa commented on #145
@softeng-701  Requesting for approval

[2018-03-29 05:47] cielluo opened #151 "Improving clone process"
Feature Request:
I just reviewed my group-mate's PR #150, but I think after this, the clone flow is still wired.

I think the two buttons under "clone from Internet" should be "Select location" and "Clone". And a more reasonable process would be:
User goes to clone from Internet page
-> User inputs an URL to clone from
-> User clicks "Select location"
-> File browser is opened, and user chooses lo

[2018-03-29 06:30] #75 closed, assigned to nobody

[2018-04-01 01:19] softeng-701 commented on #76
@Mehdi-Shah This PR is for a closed issue, was it closed before a PR resolved it?

[2018-04-01 01:21] #115 closed, assigned to softeng-701